[2017-04-21 16:42] cgizzi opened #1 "Deploy KeyCloak service and register this service with the eduGAIN and Elixir AAI federations"
The prototype KeyCloak deployment by CYCLONE is not appropriate for a production infrastructure. The Consortium must deploy its own KeyCloak service and register this service with the eduGAIN and Elixir AAI federations. This work is largely administrative in nature, but is required before the platform can use the identity providers of these federations.

[2017-04-21 16:47] cgizzi opened #2 "Onedata integration with the provided identity federations (eduGAIN and Elixir AAI) via KeyCloack"
The federated identities must also be available when working with the data management services. Onedata is already capable of using external identity providers that use the OpenID Connect (OIDC) protocol for authentication. This is the native KeyCloak protocol for relying services, so integration should be straightforward. Effort will be required to verify the correct integration with the identity

[2017-04-21 16:49] cgizzi opened #3 "Uniform authorization model (users, groups, or roles ) across all the services (e.g. between SlipStream and Onedata)"
The authorization models for SlipStream and for Onedata are compatible, allowing access rights to be tied to users, groups, or roles. The Consortium must verify that these rights can be centrally managed and are uniform across all services. Some modifications will be necessary in Onedata to enforce the defined access rights for storage objects.

[2017-04-21 16:49] cgizzi opened #4 "Implementation of ECP profile solution for the management of identity providers through API/CLI"
A general solution for use of identity providers with CLIs and APIs has been defined for SAML-based federations. However, the solution, known as the ECP profile, is neither universally implemented nor deployed. During the prototyping phase, an investigation will be done to determine how difficult it would be to have at least some identity providers of eduGAIN or Elixir AAI to support the ECP profi

[2017-04-24 06:26] loomis opened #5 "setup rhea accounts for testing"
Provide the following accounts:
 - [x] OTC account
 - [x] Exoscale account
 - [x] Nuvla account
 - [x] Configure Nuvla account with cloud credentials

[2017-04-24 06:30] loomis opened #6 "create skeleton of user documentation"
Create the skeleton of user documentation in this repository so that it can be posted on ReadTheDocs.org.  The initial documentation should contain just links to services and specific documentation of those services.

[2017-04-24 06:33] loomis opened #7 "create and configure an account on readthedocs.org"
- [x] create an account on readthedocs.org for this organization
 - [x] configure the account to build the contained documentation automatically

[2017-04-24 06:43] loomis commented on #5
All of the accounts have been created and the Nuvla account has been configured with the cloud credentials. The access credentials have been sent to Rhea staff.

[2017-04-24 07:40] loomis opened #8 "integrate repository with sixsq planning board"
Add the repository to the SixSq planning board and add the necessary labels to track progress, projects, etc.

[2017-04-24 12:10] loomis commented on #6
Skeleton contains an abstract (features), partners, and links to services and service documentation. The documentation is built with Sphinx and is written in restructured text. The documentation can be build locally with the command `make html`.  The main file for the documentation will be `build/html/index.html`.

[2017-04-24 12:26] loomis commented on #7
The account has been created on ReadTheDocs.org.  The username is "hnscicloud-rhea".  The password has been communicated to Rhea personnel.

The automated build of the documentation for ReadTheDocs.org is waiting on the owners to approve access to the GitHub repository by the ReadTheDocs website.

[2017-04-24 12:30] cgizzi opened #10 "Implementation of usage limits on services providers (OTC, Exoscale, Cyfronet) side"
Storage and compute resources usage must be capped by service providers to avoid accidental over-usage.
[ ] OTC
[ ] Exoscale
[ ] Onedata

[2017-04-24 12:51] cgizzi opened #11 ""Tenancies" organisation on OTC"
Define how to manage users on OTC side. There is an action for JDM to provide information on this by 28 April

[2017-04-24 13:06] cgizzi commented on #7
Access has been approved

[2017-04-24 13:22] cgizzi opened #12 "Quantify resources for TP* and schedule tests"
Characterise (estimate) the minimum and maximum testing ICT resources we need during TP1, TP2, TP3 and TP4 for discussion with BG (27thApril) and allocate tests on Sprints

[2017-04-25 09:15] tkotisis commented on #12
Estimates for test resources are based on data available in test case descriptions.

[2017-04-25 11:56] loomis commented on #7
I do not have sufficient privileges on the repository to activate the web hook.  Someone from Rhea will have to do this.  Splitting that task from this ticket.

[2017-04-25 11:59] loomis opened #13 "create web hook for readthedocs"
Create the web hook for the repository so that the documentation will be rebuilt automatically when changes are pushed to the repository.

[2017-04-25 12:00] loomis commented on #7
The documentation is visible here: http://hnscicloud-rhea.readthedocs.io/en/latest/.

[2017-04-25 13:10] loomis commented on #8
@cgizzi @tkotisis I need one of you to log into Waffle to create the necessary web hooks.  Go [here](https://waffle.io/slipstream/slipstream/join) and log in with your GitHub account.  You should see a red bar at the bottom with a "Create Hooks" button.  Hopefully, that will setup the hooks we need to integrate into our planning board.

[2017-04-27 02:46] cgizzi commented on #8
I logged in at waffle.io, I have given waffle the authorization to access the github account, I see our issues on the board. I think it is done.

[2017-04-27 03:02] cgizzi commented on #13
Done

[2017-04-27 03:06] #6 closed

[2017-04-27 03:07] #5 closed

[2017-04-27 03:08] #13 closed

[2017-04-27 03:09] #7 closed

[2017-04-27 07:50] cgizzi commented on #11
Bert, please check with Jurry and you/him report to @loomis

[2017-04-27 09:38] bkryza commented on #3
From Onedata perspective the authorization can be fully managed using REST and CDMI API's. For high level authorization (access to service, managing groups and users, sharing data with others, etc.) privileges can be managed individually for each resource or resource group on the Onezone level. The complete list of privileges can be found [here](https://onedata.org/#/home/documentation/doc/using_o

[2017-04-27 09:47] loomis commented on #3
Ideally the ACLs for data objects will be kept within Onedata services, so SlipStream and users should just need to set/modify ACLs within Onedata.  The only synchronization that should be necessary should be with authentication (including roles/groups), but hopefully that will be handled via OpenID Connect and Keycloak. If SlipStream ends up holding significant amounts of metadata for datasets, t

[2017-04-27 10:05] bkryza commented on #3
@loomis Sounds good to me. For roles and groups, the question is what cases are possible and how should they be handled, i.e. whether creation of roles and groups in SlipStream should be automatically propagated to Onezone service or should this be dynamically mapped somehow (e.g. using Keycloak?)

[2017-04-27 10:11] bkryza commented on #2
Onedata Onezone service supports external OIDC providers, which can be configured using [auth.config file](https://onedata.org/#/home/documentation/doc/administering_onedata/openid_configuration.html), which needs to be configured before starting Onezone service. From then on, users can login and use Onedata services, including data management, using their original identity.

Currently, we do not

[2017-04-27 10:43] tkotisis commented on #12
As clarified today (20170427) in the meeting with the buyers group, we are not expected to run all test cases.

[2017-04-28 13:17] eeckstei commented on #11
Jurry sent a Excel to Buyers Group how they plan how to group the users and the institutes 2 days ago.
We will wait until we get Feedback from BG.

[2017-04-28 13:21] eeckstei commented on #10
Within OTC Service Quota Function can be used to prevent the overuse of resources.

How this works you can find here: [OTC Service Quota:](https://docs.otc.t-systems.com/faq/iaas/en-us_topic_0040259342.html?agencyId=cc4572adbb83493da7f01b8906eb6c59&region=eu-de&locale=en-us&regionId=eu-de)

[2017-04-28 15:38] #12 closed

[2017-04-28 15:46] cgizzi opened #14 "Provide a formal response (by mail) to Buyers' questions on Onedata"
**Question 1:**
If (and when) OneProvider, to be installed @buyers site, could be installed on top of existing repositories (already containing file data). During the kick-off, I had the impression that OneProvider (still) requires a 'clean/empty' repository and all data have to be 'filled' through OneProvider. DESYs plan is to use a single (dedicated) instance of GPFS to be the base for  NFSv3 ex

[2017-05-02 09:55] retrack commented on #10
Same on Exoscale, we have limits which can be viewed online per organization:
![image](https://cloud.githubusercontent.com/assets/1295273/25613336/2588c83e-2f2e-11e7-94bf-b417664fc220.png)

Adjusting limits is handled via this interface.

[2017-05-03 15:49] cgizzi commented on #14
Please report to Lukasz

[2017-05-03 15:50] cgizzi commented on #11
Any update on this?

[2017-05-03 17:04] cgizzi commented on #10
@eeckstei @retrack We must be sure that the Buyers will not be enabled to use more than the following resources in total for each Test Phase (TP):
TP2: 100 cores+10TB
TP3 2000 cores+200TB
TP4: 3500 cores+350TB
In addition to that they must not be enabled to buy additonal services direclty on OTC and Exoscale portals.  @retrack Is that possible for Exoscale?
@eeckstei Is that possible on OTC? (by t

[2017-05-04 15:28] eeckstei commented on #11
Jurry remembered Buyers Group in todays call to fill the Excel.

[2017-05-05 07:19] eeckstei commented on #10
@cgizzi: Yes, it is possible to restrict resources at OTC. It must be requested via HelpCenter from the Tenant owner (via Mail or via Telephone).
The open questions for me are:
@zhenggenqiang: 3 questions for you:
Is it possible to set some Service Quotas be set to 0?
Is OBS restricted via Disk Service Quota also and when no how we can restrict OBS?
Are HPCI and HPCII vCPUS are restriced via vCPU-

[2017-05-05 08:39] zhenggenqiang commented on #10
OBS currently doesn't support quota feature, but each user can only create 100 buckets as max. In addition, if we want to support quota feature, which parameters are needed to limit or restrict.

[2017-05-05 09:25] zhenggenqiang commented on #10
@eeckstei
1: This question I have to check with my colleague and give the answer ASAP
2: OBS currently doesn't support quota feature, but each user can only create 100 buckets as max. In addition, if we want to support quota feature, which parameters are needed to restrict.
3: HPCI and HPCII vCPUS don't have independent quota restrictions, all types of ECS quota are uniformly restricted.

[2017-05-09 09:08] loomis opened #15 "unproxied data access for gluster"
The data management design for the prototype calls for Oneprovider instances in front of S3 object stores and in front of gluster file systems.

The S3 storage is intended for long term, low-cost storage of large data sets.  The trade off for the low cost is higher latencies and lower bandwidths.

The gluster file system is intended as a cache for "hot" data. It has a higher cost as virtual machin

[2017-05-09 14:23] loomis commented on #15
Could you explain what you mean by unproxied access?

In this case - eliminating the need for the POSIX IO reads/writes to go via Oneproxy (hence, unproxied access). Please see attached drawing.

<img width="1060" alt="unproxied-data-access" src="https://cloud.githubusercontent.com/assets/490506/25855495/a3b55088-34d3-11e7-9c2f-84cd3c758436.png">

[2017-05-15 08:26] tkotisis opened #16 "Test Plan"
Test specification based on:
- requirements from "D-DES-1.2 Conceptual Design Report for the Hybrid Cloud"
- technical selection criteria (p.4) from "PCP Annex I Part 2 - Functional Specification"

[2017-05-16 06:26] loomis opened #17 "delete readthedocs documentation"
As the repository containing the documentation is now private, it is no longer possible to use ReadTheDocs to host the rendered version. Remove the configuration from the ReadTheDocs service.

[2017-05-16 06:27] loomis commented on #8
The repository has been moved to the SixSq organization.  The necessary labels have been created and the web hooks added to the transferred repository.

[2017-05-16 06:27] #8 closed

[2017-05-16 06:29] loomis commented on #17
The HNSciCloud Rhea account is still active on ReadTheDocs, but the documentation for the project has been removed. The sources still exist in the GitHub repository, which is now under the SixSq organization.

[2017-05-16 06:36] mebster commented on #17
If we want to use read the docs for public documentation, we could create a separate public repo

[2017-05-16 07:10] loomis opened #18 "support older S3 authentication"
Update the S3 support of Onedata to allow access to S3 deployments that use the older S3 authentication mechanisms (primarily Exoscale).

[2017-05-16 07:12] retrack commented on #18
Patch proposed under https://github.com/exoscale/aws-sdk-cpp/commits/feature/signature-v2

[2017-05-16 07:12] loomis commented on #18
Exoscale has forked the AWS C++ SDK and added support for the older S3 authentication mechanism. The repository is here: https://github.com/exoscale/aws-sdk-cpp and the specific patch is referenced above.

[2017-05-16 07:15] retrack commented on #10
@zhenggenqiang, @cgizzi On Exoscale, these limits can be enforced on a per account basis. However since multiple organization have already been created for HNsciCloud it is not possible to SUM the usage of all those organizations and enforce the overall maximum limits.

Please instruct on per organization limits or group all usages under one organization only.

[2017-05-16 08:47] mebster commented on #17
Created a new public repository (SixSq/hn-prototype-docs) and moved the documentation to it.  The doc is published here: http://hn-prototype-docs.readthedocs.io/en/latest/

[2017-05-16 12:02] cgizzi commented on #17
@mebster has also the hook with hudson been also set?

[2017-05-16 12:11] mebster commented on #17
@cgizzi hudson?

[2017-05-16 12:16] cgizzi commented on #17
@mebster the hook that was set in the previous repository (named hudson*) I guess it is Jenkins, it was there for automated generation of the docs I understood.

[2017-05-16 12:19] mebster commented on #16
@tkotisis could you say when you'll have a first draft?

[2017-05-18 11:08] #17 closed

[2017-05-18 11:15] mebster commented on #18
@bkryza where are we with this?

[2017-05-18 11:16] mebster commented on #16
@tkotisis please update this issue

[2017-05-18 11:17] mebster commented on #14
@bkryza please could we have an update on this?

[2017-05-18 11:22] mebster commented on #10
We will have to be pragmatic here.  I suggest we limit the quotas on both Nuvla and OTC/Exoscale levels and monitor closely their usage level.  Once we have better level of quota granularity in Nuvla, it'll be easier to enforce these quotas and raise alarms when quotas that Nuvla is not enforcing (e.g. OBS) are reaching the quota limit.

[2017-05-18 11:22] mebster commented on #10
Is there more we can do here?

[2017-05-18 11:23] mebster commented on #11
@eeckstei @zhenggenqiang when can we expect to have the organisations and accounts created?

[2017-05-18 11:26] mebster commented on #4
@loomis can you update this issue?

[2017-05-18 11:27] mebster commented on #3
@bkryza @loomis have we managed to converge on this?

[2017-05-18 11:29] mebster commented on #2
@konstan @loomis ?

[2017-05-18 11:53] konstan commented on #2
Waiting for 3.0.0-rc15 of Onedata to be released.  Here is the procedure provided by Onedata on 17th May

[code]

[2017-05-18 11:54] konstan commented on #2
Onedata themselves already tested this internally.

[2017-05-18 11:55] cjdcordeiro commented on #2
on the Keycloak side, the application client has been tested by OneData on a separate Test Realm. Once @konstan can replicate the above procedure and validate it works as expected, we'll move this Keycloak client to production

[2017-05-18 12:47] loomis commented on #4
@meb There's no progress on this low-priority issued scheduled for Sprint 4.

[2017-05-18 13:55] bkryza commented on #18
@mebster We'll be working on that over the next 2 weeks, the issue was that it is not possible to enable in the aws-core-sdk library v2 without disabling support for v4 easily, we have to do some more refactoring in the code...

[2017-05-19 08:32] cjdcordeiro commented on #1
we've setup a federated identity portal (fed-id) at https://fed-id.nuv.la/auth/
It used Keycloak and simpleSAMLphp to act as a Service Provider and authenticate through SWITCH and ELIXIR. User and technical documentation about this will be coming soon at https://github.com/SixSq/tasklist/issues/1117

The current state is:
 - We are registered with SWITCH, we can test some IdPs behind them and we a

[2017-05-19 08:42] #14 closed

[2017-05-19 09:07] cgizzi commented on #11
@eeckstei @zhenggenqiang I have sent an email to Jurry. Please get in touch with him as soon as possible to have the acoounts created and the credentials sent out.

[2017-05-19 09:36] konstan opened #19 "failure to start Oneprovier with S3 backend pointing to OBS @OTC"
We use the following custom scenario to provision Oneprovider with S3 (and GlusterFS)
https://github.com/SixSq/getting-started/tree/master/scenarios/slipstream_s3_gluster (forked from your `getting-started` repo).
See the respective `docker-compose-oneprovider.yml` for S3 configuration.
Here are our configuration params for the OBS @OTC:
[code]

This is the failure and the logs of Oneprovider are

[2017-05-19 09:44] konstan commented on #19
We observe the same failure when we point Oneprovider to the S3 API test server based on scality/s3server docker image.  The S3 API server works for us with s3cmd tool.

[2017-05-19 09:50] eeckstei commented on #11
@cgizzi: One Tenant for RHEA Group Intern is already created. You can give me a list of the guys who should be admins there (eMail, Name and Mobile Phone (MP if possible). In parallel we plan to create 9 tenants for Buyers Group asap.

[2017-05-19 09:51] bkryza commented on #19
@konstan Could you please paste (or Gist) the contents of the error.log:

cat getting-started/scenarios/3_0_oneprovider_onezone_multihost/config_oneprovider/var/log/op_worker/error.log

[2017-05-19 09:57] konstan commented on #19
We use our custom scenario:

[code]

Also, please check  the initial message.  All the logs are attached as .zip to it.

[2017-05-19 10:41] tkotisis opened #20 "Information on IO benchmarking process"
Refers to the benchmarking process mentioned in the conceptual design report (HN-D-DES-1.2-1001 v1.0) section 5.3.3 (Data Management - Status).

It is will be useful in creating test cases for IO performance.

[2017-05-19 10:53] tkotisis commented on #16
@mebster
I will push a preliminary draft on Tuesday.

[2017-05-19 11:34] bkryza commented on #19
@konstan Based on the logs, it is an issue of write access to the S3 storage from Oneprovider, in file we can see an IO error:

started/scenarios/3_0_oneprovider_onezone_multihost/config_oneprovider/var/log/op_panel/info.log

[code]

Would it be possible for you to give us access to this S3 service, we could check what is the problem...

[2017-05-19 11:38] konstan commented on #19
Not to OBS @OTC, unless, we speak to OTC and they allow that - which I doubt at the moment.

However, if you provide me your ssh key I can give you the access to the S3 API test server as IMHO the issue on both S3s the same.  Let me know if this is OK with you.

[2017-05-19 12:06] konstan commented on #19
Just for the record.  I just tried and with that simple search I couldn't find a suitable log file of the serivce. You might be luckier though.

[code]
The service process tree

[code]

[2017-05-22 07:52] cgizzi commented on #11
@eeckstei here it is rhea-hn@rheagroup.com, the "guys": Claudio Gizzi and Sakis Kotisis, the mail alias points to our personal mails, Phone numbers (respectively): : +32 (0)10 48 72 79 and +32 (0)10 48 72 86

[2017-05-22 08:15] konstan commented on #19
Just tried with `:80` appended to the `S3_HOSTNAME`

[code]

and the Oneprovider apparently started

[code]

That's pity that from the logs it's not possible to figure out what the issue was.

I'll continue with the scenario when Oneclient connects to Oneprovider and attempts to access files on S3.

I'm closing this issue.

[2017-05-22 08:15] #19 closed

[2017-05-22 08:33] konstan opened #21 "validate Oneclient with OBS at OTC"

[2017-05-22 09:18] cjdcordeiro opened #22 "Create cpu benchmarking component in SS"

[2017-05-22 09:59] eeckstei commented on #11
@cgizzi: User in OTC enviroment OTC-EU-DE-00000000001000018694 for Claudio Gizzi, Sakis Kotisis and @zhenggenqiang created. You should got a separate Mail for first Login in OTC RHEA Group Tenant.

[2017-05-22 11:49] loomis commented on #18
@bkryza reported that the proposed patch does allow the older S3 authentication but turns off the new version.  @loomis has asked @retrack (via email, 19/05) whether Exoscale can update their patch to allow both the older and newer authentication methods to be used.

[2017-05-22 11:51] loomis opened #23 "discuss chunking"
Discuss Onedata chunking of data in S3 and gluster and how this affects raw POSIX and S3 access to data.

[2017-05-22 12:26] retrack commented on #18
we do not plan to have a patch that would enable v2 + v4 auth in the AWS SDK. The patch has been done to enable unit tests and end to end testing. A production environment supporting v4 is still planned for later this summer in time for at scale workloads.

[2017-05-22 12:39] loomis commented on #23
From Bartosz:

[2017-05-22 13:20] loomis commented on #23
The use cases that I see that relate to the file storage strategy are:

 * Importing Data to Platform
    - Expect that the initial data will be un-chunked and available from the native API, whether that's S3, gluster, etc.
    - Do not expect that the data owners would need to preprocess the files/objects to put it into a format (e.g. chunked) for Onedata.
    - Expect that the data owners would

[2017-05-23 06:37] loomis opened #24 "provide exoscale account to rhea"
When the exoscale account configuration is done, provide the credentials to the Rhea personnel Claudio Gizzi (c.gizzi@rheagroup.com) and Sakis Kotisis (s.kotisis@rheagroup.com).

Depends on SixSq/tasklist#1112.

[2017-05-23 06:52] cjdcordeiro commented on #1
SixSq Federated Identity Portal is now formally a SWITCH interfederation partner with access to SWITCHaai and eduGAIN IdPs.

Also, SixSq Federated Identity Portal is now formally registered with ELIXIR AAI. The privacy policy for this AAI can be found at http://sixsq.com/legal/aai_privacy and for further testing the AAI portal can be found at https://fed-id.nuv.la

[2017-05-23 06:52] #1 closed

[2017-05-23 06:52] konstan opened #25 "Issue with file replication between Oneproviders on S3"
We've setup one Onezone and two Oneprovider instances to test replication with S3.
Both Oneproviders are pointing to OBS at OTC but use different buckets.
We used web UI on Oneprovider (id RjxqQ4.. see below) to upload a file and checked that the file is actually on OBS at OTC in the corresponding bucket.

Below is the attempt to replicate the file from provider RjxqQ4 to provider 9Aze5M via API.

[2017-05-23 07:00] konstan commented on #25
This documentation was used https://onedata.org/docs/doc/using_onedata/replication_management.html

[2017-05-23 07:36] konstan commented on #21
Works for reading.

The commands below are issued from within the Oneclient container with the supported space from the requested provider mounted under /mnt/oneclient/ (in the container).  In fact, user sees all his spaces supported by all the providers the provider to which the client initially connected to "knows" about (apparently via Onezone? (need to understand this)).

Container startup.
[c

[2017-05-23 07:40] konstan commented on #21
Creation of the file works.

[code]

![screen shot 2017-05-23 at 09 40 04](https://cloud.githubusercontent.com/assets/353767/26343327/d96be3b8-3f9b-11e7-9d6a-23fd4915403c.png)

[2017-05-23 09:30] bkryza commented on #25
@konstan Could you please check if the 's3-otc' space is supported by both providers?

[code]

If there's just one you need to add support to that space in the other provider's Onepanel interface...

[2017-05-23 11:01] cjdcordeiro opened #26 "Create time-to-ssh benchmark component in SS"

[2017-05-23 11:41] konstan commented on #25
Thanks.  Thant did the trick.
However, the file wasn't physically replicated to S3 at Exoscale.  What I see is that only it's availability in another provider was declared.

![screen shot 2017-05-23 at 13 27 09](https://cloud.githubusercontent.com/assets/353767/26352436/0fcbb65c-3fbc-11e7-9755-2748a97a6ea5.png)
[code]
So, that when I switch to s3-exo, I don't see the file in the bucket.

![screen

[2017-05-23 11:54] konstan opened #27 "validate that the communication between Oneprovider/client and S3 goes over SSL"
At the moment the working configuration is when :80 is appended at the end of the S3 hostname.  This is suspicious.  Check that the actual communication is SSL protected.

[2017-05-23 12:13] cjdcordeiro commented on #26
Component: time-to-ssh-benchmark
Application (which allows for terminating VMs automatically after the benchmark finishes): time-to-ssh-benchmark-APP

Workspace in Nuvla:  HNSciCloud-RHEA/Benchmarking

Description:
_time-to-ssh-benchmark_ works on both CentOS and Ubuntu distros. It will create a (or multiple) VM(s) and within it will get the UTC date for the `bootime -s` and the UTC date matching

[2017-05-23 12:19] bkryza commented on #25
@konstan I will try to replicate this issue on some other setup, but this is definitely strange. Also, how did you manage to connect Exoscale S3 to Oneprovider without v2 signatures support?

[2017-05-23 12:38] konstan commented on #25
No, none of Oneproviders was connected to Exoscale S3.  It was just one Oneprovider VM running on Exoscale, but it was connected to S3 at OTC.  So, there were two providers running: at Exoscale and OTC, and both of them connected to S3 at OTC, but they were using different buckets at OTC S3.

[2017-05-23 14:58] tkotisis commented on #16
Upload a [preliminary draft](https://github.com/SixSq/hn-prototype-platform/tree/master/test).

[2017-05-23 15:22] cjdcordeiro commented on #22
This component uses ATLAS Kit Validation (KV) tool to perform the CPU benchmark.

Component: kv-benchmark
Application (which allows for terminating VMs automatically after the benchmark finishes): kv-benchmark-APP

Workspace in Nuvla: HNSciCloud-RHEA/Benchmarking

Description:
this benchmark expects some input parameters that are NOT essential for the execution of the benchmark. It will start a ne

[2017-05-24 06:56] cjdcordeiro opened #28 "Create CERN benchmark suite component in SS"

[2017-05-24 06:57] loomis commented on #23
The Onedata's chunking behavior and the above use cases were discussed. The result of the discussion was that @bkryza will discuss with the technical team how to provide options that data managers can use to turn off the chunking to support the above use cases.  After this discussion he'll provide information about how difficult the change is and the performance trade-offs when the options are ena

[2017-05-24 07:01] loomis commented on #18
From a discussion with @bkryza yesterday and subsequent follow-up with their developers, Onedata will provide a patched version that allows both the v2 and v4 authentication mechanisms to be supported.  Rough estimate for an internal version is end of the week (26/05).

[2017-05-24 07:03] cjdcordeiro opened #29 "Create EMBL-EBI Benchmarking Suite component in SS"
This requires input from someone in EMBL-EBI as authentication is needed for benchmarking networking through GridFTP - https://github.com/EMBL-EBI-TSI/cloud-benchmarks

[2017-05-24 07:17] cjdcordeiro opened #30 "add ELK stack to benchmarking apps"
The ELK stack would be deployed through docker-compose at the same time of the benchmarking apps.

It would then recover past benchmark data from S3 and offload new data there as well before shutting down

[2017-05-24 09:02] #22 closed

[2017-05-24 09:02] #26 closed

[2017-05-24 09:49] cjdcordeiro commented on #16
please note:
Please note that eduGAIN currently provides web-based authentication only on a large scale. This means that for federated login, almost always a web browser is involved at the user’s. eduGAIN itself also allows non-browser login via the SAML ECP profile. This profile is however hardly deployed yet by the eduGAIN Identity Providers. Therefore, it is usable only in very few scenarios.

[2017-05-24 12:20] cjdcordeiro opened #31 "add SS components for Debian image"
Debian 8 and Debian 7 if possible

[2017-05-24 13:28] cjdcordeiro opened #32 "add SS component for Windows 2008 image"

[2017-05-24 13:34] cjdcordeiro commented on #31
working for Exoscale and OTC.
https://nuv.la/module/examples/images/debian-7
https://nuv.la/module/examples/images/debian-8

[2017-05-24 13:36] cjdcordeiro commented on #16
could you please create tickets for each one of the planned tasks? like that we can exchange useful information for each test

[2017-05-26 08:28] cgizzi commented on #11
@eeckstei thx. I have requested an additional one for SixSq (also fo internal testing), please ask @mebster (meb@sixsq.com) for details (phone). Once done we can close this task (BG accounts have been also set up)

[2017-05-26 08:35] cgizzi commented on #10
@mebster I think yes. T-Systems/Exoscale have to define the quotas corresponding to the resource amounts I have reported above (per TP) and put the corresponding limits on their portals. This require further analysis of the BG needs and maybe further iterations with the BG.

[2017-05-26 08:49] cgizzi commented on #3
Find below clarifications sent out by the BG, containing also some details relating user organization and roles, please send me any question for discussion at the weekly chat with the BG (Thurdays at 12.00)

A **tenant**:
- Is an administrative boundary that offers isolation of virtual infrastructure, including VMs, network and storage.
- Can have sub-tenants, i.e. a procurer may create sub-tenanc

[2017-05-26 08:53] cgizzi opened #33 "Minimize overheads for data access with the Onedata services"
Ensure that the overheads for data access with the Onedata services compared to direct storage access is reduced to acceptable levels.

[2017-05-26 08:55] cgizzi opened #34 "Optimize the POSIX interface to Onedata for Gluster"
Optimize the POSIX interface to Onedata for Gluster. Within the design, Gluster filesystems are used as fast caches for “hot” data.

[2017-05-26 08:57] cgizzi opened #35 "S3 to Onedata interface reliability with the object storage at both Exoscale and OTC"
Verify that the S3 interface to Onedata works correctly and reliably with the object storage at both Exoscale and OTC. Ensure that any performance issues are identified and corrected before and during the prototyping phase.

[2017-05-26 08:59] cgizzi opened #36 "Exportation of binary images from BG clouds"
Define the procedure for exporting binary images from the Buyers Group to the platform’s cloud service providers.

[2017-05-26 09:00] eeckstei commented on #11
@cgizzi Please sent me a note when Tenant for SixSq is created.

[2017-05-26 09:10] cjdcordeiro commented on #36
this is something that should be done directly with each cloud provider. The BG shall upload their images directly to each cloud individually

[2017-05-26 09:11] cgizzi commented on #36
@loomis required interaction with BG for details on images. Mail to Monitoring newsletter or at the BG weekly meeting (Thursdays 12.00)

[2017-05-26 09:15] konstan commented on #27
Connected to https://github.com/SixSq/hn-prototype-platform/issues/19#issuecomment-303030840

[2017-05-26 09:16] cgizzi commented on #34
this is related to #35

[2017-05-26 09:16] #21 closed

[2017-05-26 09:16] cgizzi commented on #33
this is related to #35

[2017-05-26 09:24] mebster commented on #11
We need to understand how SixSq can manage these accounts on behalf of the buyers, such that we can create the corresponding entries in the Nuvla accounts, including API keys for both OTC and Exoscale.

[2017-05-26 11:08] konstan commented on #25
Hi @bkryza,
Let me know if you need any extra info from us to reproduce the issue.

[2017-05-26 11:39] #28 closed

[2017-05-26 11:40] #31 closed

[2017-05-26 13:38] cjdcordeiro opened #37 "test GEANT connectivity for Exoscale and OTC"
confirm that the route between a machine at CERN and OTC/Exoscale VMs (and vice versa) is going through the GEANT network

[2017-05-26 15:19] cjdcordeiro commented on #37
### CERN - Exoscale   / Exoscale - CERN
[code]
on the opposite direction:
[code]

### CERN - OTC   / OTC - CERN
[code]

and from OTC to CERN:
[code]

**note**: OTC T-Systems is connected  to GEANT through DFN, the German NREN; Exoscale is connected to GEANT through CERN.

### OTC - Exoscale / Exoscale - OTC

this is not possible for the time being.

[2017-05-26 15:20] cjdcordeiro commented on #37
@mebster is this enough to validate the GEANT connection?

[2017-05-26 15:49] cjdcordeiro commented on #37
@retrack @eeckstei , could you also perform this validation on your infrastructures?

[2017-05-29 09:16] bkryza commented on #18
V2 signature support for S3 has been integrated and can be tested using the following dockers:

replace Oneprovider 3.0.0-rc14 version in docker compose Yaml with:
[code]
When adding Exoscale storage to Oneprovider, select V2 signature option in Onepanel.

Oneclient:
[code]

In order to test oneclient using Docker follow these steps:
[code]

[2017-05-29 09:17] elegoff commented on #32
after changing `Use native cloud contextualisation` from `linux-only` to `always`, the 2008 VM is deploying fine on OTC

[2017-05-29 09:30] konstan commented on #18
@bkryza Thanks.  Validating on our side.

[2017-05-29 09:56] elegoff commented on #32
after updating its `image ID` , the win 2012 VM is deploying fine on OTC

[2017-05-29 09:59] konstan commented on #18
@bkryza What configuration parameter should be used from the docker-compose file to be able to start the service with S3 v2?  This is the current set of the parameters that we use.

[code]

[2017-05-29 11:30] bkryza commented on #18
[code]

[2017-05-29 11:56] konstan commented on #18
@bkryza Thanks.
With VFS-3233 we can work with Exoscale S3 v2.
I will validate it now for regression with v4 on OBS OTC.

[2017-05-29 12:31] konstan commented on #18
@bkryza

I've added the second Oneprovider s3-otc (OTC) to the one that I had before s3-exo (Exoscale).
Now when starting docker Oneclient and trying to list /mnt/ directory I'm getting
[code]

Also, going to the providers from Onezone (with "Go to your files") ends up with showing the spinner and being supposedly blocked on authentication (I saw `Authenticating` overlay message once).

<img width

[2017-05-29 12:33] konstan commented on #18
On `s3-otc` Oneprovider UI instance directly, I can perfectly see and manipulate files.

[2017-05-29 12:51] konstan commented on #18
Here is the Oneclient connected to `s3-otc` Oneprovider (160.44.197.67)

[code]

and below are the times to list various folders under `/mnt/oneclient/`

[code]

[code]

There seems to be really a regression with v2 vs v4 implementation in VFS-3233.

[2017-05-29 13:16] luman75 commented on #23
Befere we need to check if Exoscale and OTC supports Multipart object uploads to make it possible update of parts of the blocks looping at the server input from existing version of the blocks.

@loomis can you ask about that people from Exoscale?

[2017-05-29 13:37] retrack commented on #23
Hello,

Multi part is supported on Exoscale. Please find the table here http://pithos.io/api.html for API coverage.

[2017-05-29 14:02] bkryza commented on #25
@konstan

[code]

The argument is invalid - should be 'provider_id':

[code]

[2017-05-29 14:04] bkryza commented on #18
@konstan

Can you check if you have connection from the Docker container to the S3 storages:

[code]

[2017-05-29 14:10] konstan commented on #18
@bkryza
[code]

[2017-05-29 14:15] bkryza commented on #25
@konstan

Yep, sorry I'll fix that, the REST API reference has this right:

https://onedata.org/#/home/documentation/doc/advanced/rest/oneprovider/operations/replicate_file.html

Also if you'll have issues, try to send the replication request also to the destination provider and see if this helps...

[2017-05-29 14:25] bkryza commented on #18
@konstan

Actually it looks like some issue with synchronization between the Oneprovider's - could you send me the logs from both?

[2017-05-29 14:40] elegoff commented on #32
For Exoscale, the deployment fails until a newer version of Python (2.7.13) is installed. Connector code has to be updated to reflect this

[2017-05-29 21:14] konstan commented on #18
@bkryza I just sent the logs by email.

[2017-05-30 06:06] loomis commented on #23
@eeckstei Please provide a response to Lukasz's (@luman75) question about multipart support for the S3 protocol on OTC.

[2017-05-30 06:28] elegoff commented on #32
Win2008 and Win 2012 deployment tests are successful on :
- OTC
- Exoscale GVA
- Exoscale DK

[2017-05-30 06:28] #32 closed

[2017-05-30 06:33] eeckstei commented on #23
Hi,
multipart is supported on OTC. Please finde Details here:
[multipart](https://docs.otc.t-systems.com/en-us/api/obs/en-us_topic_0031666005.html)

[2017-05-30 08:46] tkotisis commented on #16
Regarding non-browser authentication (cli/api), it is required by several BG use cases.

We can ask the BG for test accounts with IdPs who support the SAML ECP profile.

[2017-05-30 10:12] cjdcordeiro commented on #16
but we need to understand if that non-browser authentication is to be made against federated identities or not.

Logically, non-browser authentication is normally performed by robots and automated scripts. These kind of entities to not have ELIXIR nor eduGAIN credentials, and would be assigned instead the equivalent of a service account in Nuvla (or Keycloak). For service accounts (local registrat

[2017-05-30 10:37] cjdcordeiro commented on #28
This component uses CERN Cloud Benchmark Suite to perform a user specific set of benchmarks.

Component: cern-cloud-benchmark-suite
Application (which allows for terminating VMs automatically after the benchmark finishes): cern-cloud-benchmark-suite-APP

Workspace in Nuvla: HNSciCloud-RHEA/Benchmarking (https://nuv.la/module/HNSciCloud-RHEA/Benchmarking)

Description:
this benchmark expects some i

[2017-05-30 12:25] konstan commented on #27
When testing with VFS-3233 image (see https://github.com/SixSq/hn-prototype-platform/issues/18#issuecomment-304614470) `:80` was no longer needed.
Closing.

[2017-05-30 12:25] #27 closed

[2017-05-30 12:27] konstan commented on #18
@bkryza
Tested with VFS-3233 and with two providers - Exoscale and OTC.  Looks like everything works between v2 and v4 endpoints (e.g., client can see both spaces and copy files between them).

I'm now checking file replication for https://github.com/SixSq/hn-prototype-platform/issues/25

[2017-05-30 12:53] konstan commented on #18
@bkryza
I tried replication between the providers (using `provider_id` as parameter), however the replication fails. I can give you access to the VMs or send logs.  Let me know.

[2017-05-30 14:10] eeckstei commented on #37
The Connection to CERN via Géant is not established. Its planned for mid of June.

[2017-05-30 14:14] eeckstei commented on #11
@cgizzi You can add additional users and also SixSQ guys to OTC-EU-DE-00000000001000018694. For buyers Group tenants you are in contact with Jurry. Jurry will provide this when all is clarified.

[2017-05-30 14:20] mebster commented on #11
I can confirm that I have access to the OTC account.  Thanks.

For the buyers accounts, please make sure you use the specification @schaubl provided.

[2017-05-30 14:35] loomis commented on #23
Lukasz has clarified that only the S3 backend uses chunking.  The POSIX backends (NFS and soon gluster) do not chunk the data and preserve the file organization. The chunking behavior is defined by the provider, so for replication to a POSIX backend, the replicated files are not chunked.

As all of the short term use cases involve input/export from/to POSIX storage, the chunking behavior does not

[2017-05-30 14:36] loomis commented on #25
Via a discussion by Skype, the testing configuration of Konstantin is correct, but there is still an issue.  Lukasz suspects that this is an issue with token propagation that will be fixed in the v15 release expected today.

This can be retested once the new release is available.

[2017-05-30 14:38] loomis commented on #18
As stated above, the v2/v4 support is working with the latest Onedata snapshot release.  This will appear in the v15 release which is expected today.

Once the new release is available, this will need to be retested.

[2017-05-30 14:44] loomis commented on #36
The ability to upload and use binary images from the BG organizations was a clear requirement in the tender.  Supporting this requires the ability for users/managers to upload new images to both Exoscale and OTC.

@retrack Please provide documentation (or a reference to it) on the procedure that users/managers must follow to make their binary images available on Exoscale.

@eeckstei Please provide

[2017-05-30 14:47] retrack commented on #36
@loomis may I ask for the reference on the tender?

We do not support this, it is too previous century ;-)

[2017-05-30 14:51] cjdcordeiro commented on #20
@0xbase12 can you document what you already have here please

[2017-05-30 15:09] eeckstei commented on #36
**Making private Images available on OTC via GUI:**
[Uploading an External Image File](https://docs.otc.t-systems.com/en-us/usermanual/ims/en-us_topic_0030713183.html)
[Registering the Image File as a Private Image](https://docs.otc.t-systems.com/en-us/usermanual/ims/en-us_topic_0030713184.html)
[Creating an ECS Using an Image](https://docs.otc.t-systems.com/en-us/usermanual/ims/en-us_topic_003071

[2017-05-30 15:11] eeckstei commented on #11
@mebster can you send me a link to the specification.

[2017-05-30 15:19] loomis commented on #36
@retrack
  * Section 3.2 of HNSciCloud FUNCTIONAL SPECIFICATION Phase 2. Asks for capabilities of custom images.
  * Sections 8.1 and 8.2 of Buyers Group test plan refers to customized images.
  * Criterium 13 of our Phase 2 proposal specifically mentions support for CernVM.

[2017-05-30 16:37] mebster commented on #36
CernVM is one thing. Allowing any image upload is not something we should not support lightly. We can implement this requirement using our recipe based system and/or containers.

[2017-05-30 16:43] mebster commented on #11
Here's a copy of the original email:

Hi Jurry,

The configuration we would like to have is the following:
- 1 user and 1 tenant per buyer
- 1 SixSq account with access to all tenant (and if possible admin access to the other users)

If the SixSq account can manage (mainly retrieving their API credential) the other users you can create these users with their own email address.
However if it’s not

[2017-05-30 16:56] loomis commented on #36
@mebster If the decision is "no binary images other than CernVM", I'm fine with that.  That's certainly much easier to implement.  Who will make the definitive decision on this?

[2017-05-31 08:19] mebster commented on #36
For me the decision is already made.  The question is rather if we change that ;-)

[2017-05-31 08:24] mebster commented on #11
@eeckstei is that what you were looking for?

[2017-05-31 08:25] loomis commented on #36
Ok, closing ticket then as rejected.  @cgizzi please note this is the requirements analysis.

[2017-05-31 09:17] eeckstei commented on #11
Yes - for this I was looking for.
For RHEA and SixSq you can manage it by yourself in Tenant 1000018694.
For Buyers Group tenants you have to request it from the Responsible Person for the Tenant of BG when them get their tenants, because per Default only one of the BG is admin (and no one of TSI).

[2017-05-31 09:30] mebster commented on #36
I think we'll have to nuance this a little.  The user requirement was initially upload of any user defined virtual machine image.  This is not the SlipStream model.  We prefer to promit interoperable recipe based deployments, based on existing and optimised base images.  Further, containers also allow to define 'binary image' which in some cases fulfils the intended requirement.  Finally, we can,

[2017-05-31 09:41] mebster commented on #11
@eeckstei we need to manage these accounts on behalf of the users.  Could you create these accounts as Lionel's request?  From there, we will be able to create more user accounts for the different buyers.

[2017-05-31 09:44] cgizzi commented on #36
think we have to anticipate to the BG what will be the our solution implemented. Even if 'old century' there might be situations in which one or more users will be blocked or will have to do a rework on their workloads when starting performing the tests. This is a topic for our weekly meetings with them, adding a bullet...

[2017-05-31 11:03] eeckstei commented on #11
@mebster : For BG Tenants I have no Access and therefore I can't create such an account. You have to request BG Responsible to create such an Account when BG-Tenant is created.
For Tenant OTC-EU-DE-00000000001000018694 I can create an User for customer_hnscicloud@sixsq.com (Username: customer_hnscicloud) with only API Access (Access Key) for Management via API only.
Or do you want this user as "no

[2017-05-31 11:08] mebster commented on #11
@eeckstei I am admin on OTC-EU-DE-00000000001000018694 so I can do everything.  What do you mean you can't create Tenants for the buyers?  I thought you were administrator on OTC?

[2017-05-31 11:26] eeckstei commented on #11
@mebster : After Deployment of a Tenant further accounts must be created by a Tenant Admin due to Security Reasons. A Tenant Admin is a named person which user is created during the creation of an Tenant. Tenant Admin for the upcoming BG Tenants is a BG responsible. Only this guy can decide who are allowed to access and manage his tenant.

[2017-05-31 11:31] mebster commented on #11
@eeckstei ok then, please create new tenants for the buyers using the email addresses Lionel provided you.

[2017-05-31 11:50] eeckstei commented on #11
@mebster : OK, sent an eMail to Jurry to request this in this way.

[2017-05-31 11:55] cjdcordeiro opened #38 "BYOL support"
according to https://github.com/SixSq/hn-prototype-platform/blob/master/test/Test%20Case%20Specification.md

Investigate if can be done for Exoscale and OTC

[2017-05-31 12:04] eeckstei commented on #38
[BYOL is possible on OTC - check out via Link](https://docs.otc.t-systems.com/en-us/usermanual/ecs/en-us_topic_0046566932.html)

[2017-05-31 13:18] retrack commented on #38
For Exoscale:

* Windows: BYOL permitted on Dedicated hypervisors
* Redhat: permitted with our without dedicated hypervisors

[2017-06-01 07:53] eeckstei commented on #11
@mebster: Had a call with Jurry. BG must be Tenant Admin and this will be not changed. Please clarify this topic in todays call with Jurry and RHEA Group at 17:00!

[2017-06-01 09:39] tkotisis commented on #22
On Exoscale trying to run the app on a Small instance fails with the following output:

[2017-06-01 13:39] tkotisis opened #39 "Authentication for CLI/API access"
Requirement HN-FU-0014 (User interfaces via SAML 2.0) mentions non-browser authentication through federation services:

As discussed in the meeting with the BG on 01/06/2017, most IdPs do not support the ECP profile (#4), hence a hybrid approach would be preferable.

As mentioned by @cjdcordeiro in #16:

An alternative scenario/use case needs to be defined whereby a user is able to create service

[2017-06-01 13:41] tkotisis commented on #39
How would these service accounts be created? Through KeyCloak?

If that's the case, is every user going to be able to create service accounts?

How are they going to be linked to the regular account?

[2017-06-01 13:45] tkotisis commented on #16
As discussed today during the meeting with the BG (01/06/2017), non-browser authentication against federated identities directly is not required.

Still, a workaround needs to be defined whereby a user can authenticate to HN using a browser and create an account or access keys for  CLI/API usage.

Opened issue #39, let's move the relevant discussion there.

[2017-06-02 07:35] elegoff commented on #29
Current status :
- Deployed a Centos 7 image (https://nuv.la/module/examples/images/centos-7/11611) on ExoScale with Small flavor
- This does not comply with EMBL requirements where 20GB disk space should be available
Also need to make sure the ssh keypair has read permission for the user running the benchmarks
- Will reuse a bigger image flavor like  https://nuv.la/module/cristovao/random/centos-

[2017-06-02 07:37] retrack commented on #29
Deploying a Small instance with a 20GB from the go is possible. Look at the "rootdisksize" in the deployVirtualMachine API command.

You can also deploy a default Small with 10GB and then scale to 20GB.

[2017-06-02 08:58] mebster commented on #39
We have to see how this impact the creation of IaaS api keys and associated quotas

[2017-06-02 11:01] bkryza commented on #2
@konstan

Below is an example auth.config entry for KeyCloak:

[code]

[2017-06-02 14:54] elegoff commented on #29
- ssh connection is apparently possible only after the .ssh/config file is created by the cloud_testing.sh script,
any attempts before that phase will generate a permission denied error
- copy/pasting the private key (id_rsa) via component input parameter is currently replacing line breaks with spaces, and the key is no more usable
- tried to reconstitute the private key with script (replacing bac

[2017-06-05 08:56] bkryza commented on #34
@konstan @loomis

We have a first working driver for Gluster using libgfapi - to add it to Onepanel to enable adding storage in Oneprovider we need to agree on the set of required parameters, at the moment I have the following, please let me know if all of them are necessary and if any are missing:

[code]

[2017-06-06 11:11] cjdcordeiro opened #40 "create spreadsheet with list of HNSciCloud account usernames and scope"

[2017-06-07 08:35] cjdcordeiro commented on #40
https://www.dropbox.com/s/0m57blllhfcr38g/HNSciCloud_SixSqAccounts.xlsx?dl=0

[2017-06-07 09:47] elegoff commented on #29
Latest version of the component recipe is successful allows automatic launch of the EMBL benchmark script
The latest issues we had were mainly because the user who launches the script has to be non root but has to belong to sudoers and requires non interactive password prompt.
Also note that the SSH private has to be be provided as a base64 encoded runtime parameter
(for both security reasons and

[2017-06-07 10:01] konstan commented on #25
Validated with rc15.  Replication works.
I'm closing this issue.

[2017-06-07 10:01] #25 closed

[2017-06-07 10:15] konstan opened #41 ""File exists" error with Oneclient while file is not in the space"
Just stumbled up on this with Onedata 3.0.0-rc15.

I attempted to upload 10MB file named `10MB.file` (screenshot from my machine) via Oneprovider web UI.

<img width="473" alt="screen shot 2017-06-07 at 11 39 45" src="https://user-images.githubusercontent.com/353767/26873195-430d7d0c-4b79-11e7-9358-46a43c489f26.png">

The upload failed after uploading ~4MB.  Not sure why.  At least, there were no

[2017-06-07 10:23] bkryza commented on #41
@konstan Could you please send me the logs from oneclient:

/tmp/oneclient/<<USER_UID>>/*

and from Oneprovider

[2017-06-07 10:59] konstan commented on #41
@bkryza I just sent files to you by email.

[2017-06-07 11:03] konstan commented on #18
Validated on our side.  Both S3 v2 and v4 against Exoscale and OTC respectively work in 3.0.0-rc15.
Closing.

[2017-06-07 11:03] #18 closed

[2017-06-07 12:34] konstan commented on #2
@bkryza

I added Keycloak config to auth.config as suggested above and restarted oz_worker.  This is the result.

![screen shot 2017-06-07 at 14 14 38](https://user-images.githubusercontent.com/353767/26878348-78495f2c-4b8d-11e7-966f-f460ce5f5b3a.png)

But after clicking on the sixsq button I'm getting

<img width="769" alt="screen shot 2017-06-07 at 14 28 13" src="https://user-images.githubuserco

[2017-06-07 14:17] elegoff commented on #29
After a long running time, the script eventually failed with
`dd: memory exhausted by input buffer of size 1073741824 bytes (1.0 GiB) `
Reopening

[2017-06-07 14:22] bkryza commented on #2
@konstan Sorry, my colleague just checked and it seems this feature commit was not included in the release branch for rc15. We will create a public docker containers with this included today and I'll let you know it's ID for testing...

[2017-06-08 06:23] elegoff commented on #29
The memory issue is fixed after upgrading  exoscale instance type from Micro to Medium
Closing

[2017-06-08 06:23] #29 closed

[2017-06-08 08:31] konstan commented on #2
@bkryza  Hello.  Is there any progress on this?  Thanks.

[2017-06-08 09:06] #40 closed

[2017-06-08 09:31] bkryza commented on #2
@konstan

Yes, this is the Onezone container with included KeyCloak hotfix:

[code]

Sorry again for this...

[2017-06-08 09:50] konstan commented on #34
- make `port` optional and provide default `24007`

- Good question regarding `mountpoint`. I don't know the answer.  Probably depends on how sub-tenants are intending to access the data in the volumes and respective ACLs.  Need to check with @loomis and @mebster.

All the rest seems OK.

[2017-06-08 12:01] loomis commented on #34
@konstan @bkryza My understanding was that Onedata ACLs are handled at the level of Onedata spaces and access to gluster data is managed on a per-volume bases.  Given that, I think that it makes sense to maintain a one-to-one correspondence between a gluster volume and a Onedata space.  To avoid unnecessary complications, I think it is reasonable to require that all spaces/volumes in gluster are s

[2017-06-08 12:59] bkryza commented on #34
@loomis -> " I think that it makes sense to maintain a one-to-one correspondence between a gluster volume and a Onedata space"

Yes, however this means that whenever the Oneprovider admin needs to support some users' space, he needs to create and attach a new GlusterFS volume to Oneprovider. I don't know in practice if it's typical to create a lot of small, per-user Gluster volumes in production o

[2017-06-08 13:10] bkryza commented on #34
@loomis There's also another side to this issue - i.e. when we want to export legacy data which is already available on a storage inside a volume via Oneprovider, specifying mountpoint can enable them to share only a specifc subset of a their data collection in a volume, not sure if this is the case we could have...

[2017-06-08 14:03] loomis commented on #34
Given that all volumes are subdirectories of a single location on the gluster deployment (our constraint) and the fact that the Oneprovider is run by the data manager (privileged user) of a BG organization, I would expect Oneprovider (or the SlipStream deployment of Oneprovider) to create and mount the gluster volume corresponding to a given space automatically.

Some docs for certificate-based gl

[2017-06-08 15:51] bkryza commented on #34
@loomis
So basically in Onedata we handle this kind of federated user id <-> local user id mapping using a small service called [LUMA](https://onedata.org/#/home/documentation/doc/administering_onedata/luma.html). It specifies a very simple interface, and can be easily implemented in for instance Python and will be used by Oneprovider to get user credentials for specific storage (e.g. api key and

[2017-06-09 05:29] loomis commented on #37
@retrack What is the status of the Géant connection for Exoscale?

[2017-06-09 05:30] loomis commented on #23
@konstan Has the non-chunking behavior of the POSIX backends been confirmed?

[2017-06-09 06:03] loomis commented on #34
@bkryza Here are my opinions on the possible scenarios. @konstan @0xbase12 your feedback on the comments below would be appreciated.

 1. In a cloud context where users have root access to machines, uid/gid-based schemes provide only casual protection of the data.  Anyone could bypass though protections with a trivial amount of effort.  Nonetheless, this is clearly the easiest to setup and we coul

[2017-06-09 06:06] loomis commented on #35
@konstan Can you provide a quick summary of the testing of S3 at Onedata and OTC, including basic functionality like replication?

[2017-06-09 06:08] loomis commented on #2
@konstan @cjdcordeiro Can you provide a short summary of the current testing of Keycloak/Onedata integration?

[2017-06-09 06:08] loomis commented on #2
@cjdcordeiro What is the current status concerning the mapping between BG tenants and realms?

[2017-06-09 06:11] loomis opened #42 "availability of keycloak authentication"
Allow authentication from eduGAIN and Elixir to be used on Nuvla.

[2017-06-09 06:14] loomis commented on #42
The full authentication chain for eduGAIN has been tested.  Various changes in the implementation have been identified and need to be incorporated, notably the availability of this through the Nuvla or an alternate UI for outside testing.

Mapping of attributes is still an open issue as we're waiting on information from the BG concerning this.

[2017-06-09 06:50] cjdcordeiro commented on #2
@konstan this is how you register new clients from the command line:
[code]

To get an initialTokenX, you login into Keycloak and go to: Realm Settings -> Client Registration -> Initial Access Tokens -> Create

[2017-06-09 06:52] cjdcordeiro commented on #2
waiting on final appraisal that we should do that and investigating in the meanwhile if there is a way we can copy realms to avoid doing configuration replicas by hand

[2017-06-09 07:01] konstan commented on #2
I used this image onedata/onezone:ID-0b5c927a1d as provided by @bkryza. After configuration, Onezone login interface shows the new button for authn via the configured Keycloak instance.  Login works.  However, the name of the logged in user is UNKNOWN.  I used the same realm/client (onedata/OnezoneTest) as it was used initially by Onedata to test the implementation.
I'm re-deploying to validate th

[2017-06-09 08:41] luman75 commented on #34
@loomis I've created a simplified diagram depicting flow in the system [Take a look here](https://drive.google.com/file/d/0B9Hwfj71qBPaT09XNWlEeklkVUU/view?usp=sharing)
I hope it will give some extra light to the discussion.

LUMA make more sense if you want to integrate existing storage systems having some local defined users structures and requires strict authorization accessing the storage but

[2017-06-09 09:37] konstan commented on #2
Update after debugging this Łukasz Opioła.

- (at the moment) Onezone expects - `sub`, `email`, `login`, `name` - attributes from Keycloak.  `name`, as sent by Keycloak, is a concatination of First Name and Last Name.

![screen shot 2017-06-09 at 11 18 34](https://user-images.githubusercontent.com/353767/26969272-73358604-4d05-11e7-90d2-e644d431fc68.png)

<img width="1680" alt="screen shot 2017-06

[2017-06-09 09:42] tkotisis opened #43 "Onezone shows "All your providers are offline" message despite at least one provider online"
The provider is running and it even shows up in Onezone as such (green icon in the list of providers).

However, the map is not visible and user is unable to open to Onedata page by clicking on the "Go to files" link.

![2017-06-09 11_36_14-onezone - all providers online issue](https://user-images.githubusercontent.com/909980/26970061-3a160800-4d08-11e7-8b7f-8b0a642b4569.png)

[2017-06-09 09:52] tkotisis commented on #43
It seems that all providers have to be online for Onezone to display the map.

If true, shouldn't the message reflect this?

[2017-06-09 11:25] groundnuty commented on #43
@tkotisis which docker image tag is it?

[2017-06-09 12:52] cjdcordeiro opened #44 "create one KC realm per tenant in fed-id"

[2017-06-09 13:14] tkotisis commented on #43
The image is "onedata/oneprovider:3.0.0-rc14".

[2017-06-09 13:23] tkotisis opened #45 ""Resource temporarily unavailable""
Trying to remove it from Onedata web UI results in an internal server error:

![2017-06-09 15_08_47-oneprovider - directory could not be removed - internal sever error](https://user-images.githubusercontent.com/909980/26977000-929e2f34-4d26-11e7-80dc-6bce8087106e.png)

Attempting the same from bash via Oneclient generates the following error:

The same error is generated when trying to get more in

[2017-06-09 13:47] luman75 commented on #43
@tkotisis that was fixed in rc15 it was minor GUI issue showing the message in wrong situation.

[2017-06-09 13:47] #43 closed

[2017-06-09 14:01] konstan commented on #2
eduGAIN authn works.  However, the user is given the name that is taken from email address.

[2017-06-09 14:09] luman75 commented on #2
@konstan what you mean is taken fro email address?  john.doe@example.com will lead to user name jhon.doe ?

But the most important is if we are getting user email in the attributes and the user ID from IdP?

[2017-06-09 16:55] konstan commented on #2
@luman75

Actually, I might have been wrong.  My username in unitedid.org is konstan and email konstan@sixsq.com.

<img width="338" alt="screen shot 2017-06-09 at 18 47 25" src="https://user-images.githubusercontent.com/353767/26985566-4e86ac22-4d44-11e7-94e3-1453e2a4cd55.png">

The name is Jay Random, which I was expecting to appear in the right upper corner after authn with Onezone, but it was K

[2017-06-09 16:58] konstan commented on #2
Just tried again via https://fed-id.nuv.la -> eduGAIN -> united ID.  Here is the result.

<img width="1043" alt="screen shot 2017-06-09 at 18 57 12" src="https://user-images.githubusercontent.com/353767/26985822-7c589ff6-4d45-11e7-8e7c-065227a84b40.png">

[2017-06-10 07:57] lopiola commented on #2
We can look into that next week. Anyway, on our side we try all possible ways to learn user name, checking the JSON attributes in the following order:
name -> login -> email before '@' -> "Unknown Name" (if none was specified)

In this case we might have taken login or email, hard to say. You can check if the account in unitedid was properly mapped to your keycloak user data, i.e. if first and las

[2017-06-10 08:10] lopiola commented on #2
Concerning the bugs identified a couple of comments ago:
1) the authn configuration section for auth.config is hardcoded in Onezone and should be called rhea. However, if it is set to some other value oz_worker starts OK, Onezone web UI "shows" a hidden link for the new authn option, after clicking on the hidden link - we get Server Error popup.
2) Onezone admin user can't delete users in Onezone

[2017-06-12 00:03] groundnuty commented on #43
the `https://github.com/onedata/getting-started` repo was updated to rc15, please update. this bug was fixed in that versionn

[2017-06-12 12:33] cjdcordeiro commented on #38
@eeckstei , @retrack thanks. the account we're using for OTC does not allow deploying DeH's. Could you possibly enable this and provide an example? CLI example would be great.
Same for Exoscale, how can I request to be placed on a dedicated hypervisor?

[2017-06-12 12:55] retrack commented on #38
To get access to dedicated hypervisors, you need first to activate the subscription. This is done via a support request and is a paid for option.

Then launching instances on the dedicated hypervisor is achieved either via the UI or API using the same logic as anti affinity groups.

[2017-06-12 13:18] retrack commented on #20
just a note on Exoscale Object Storage: performance is the key area were we are working. Already since 15 days, performance has been slightly increased. Rollout of the new version is still planned for later this summer along with v4 native support.

[2017-06-12 13:50] tkotisis opened #46 "Onedata lists incorrect POSIX permissions for file created through Oneclient"
Onedata shows '274' POSIX permissions for file with permissions '644' in Oneclient.

![2017-06-12 15_44_27- onedata permissions issue](https://user-images.githubusercontent.com/909980/27036870-8713bf6e-4f86-11e7-8f01-676645eff47d.png)

[2017-06-12 15:11] tkotisis opened #47 "Oneclient filesystem returns invalid value for NAME_MAX variable"
According to IEEE Std 1003.1™-2008 (Standard for Information Technology–Portable Operating System Interface - Base Specifications, Issue 7), implementations should define the symbolic constants:

{NAME_MAX}
Maximum number of bytes in a filename (not including the terminating null).
Minimum Acceptable Value: {_POSIX_NAME_MAX}

{_POSIX_NAME_MAX}
Maximum number of bytes in a filename (not including t

[2017-06-12 15:50] tkotisis opened #48 "POSIX file system test suite fails for Oneclient mounted fs"
Refers to Pawel Jakub Dawidek’s POSIX file system test suite, available [in Github](https://github.com/pjd/pjdfstest) or from [Tuxera](http://www.tuxera.com/community/posix-test-suite/).

In particular the first test to fail is the following:

, where ${n0} is a randomly generated valid filename.

Above command calls the mkfifo( ) function with filename and permissions as arguments.

When executed

[2017-06-12 15:59] tkotisis commented on #48
In particular the first test to fail is the following:

, where ${n0} is a randomly generated valid filename.

Above command calls the mkfifo( ) function with filename and permissions as arguments.

When executed in a Oneclient mounted directory, the command returns with an error:

[2017-06-12 16:18] bkryza commented on #48
@tkotisis

Oneclient does not support creation of pipes within the mounted filesystem, only files and directories can be created.

[2017-06-12 16:23] luman75 commented on #48
@tkotisis  is there any practical need to be able to make pipes in mounted filesystem?

[2017-06-13 06:33] loomis commented on #2
@lopiola @bkryza Yesterday, we reviewed the information that we're getting from eduGAIN and what could be used as a unique user identifier for both Nuvla and Onedata. In the end, the only value deemed suitably unique and "user friendly" was the email address of the user.  We also verified that roles and groups defined within Keycloak can be passed through the JWT token to Nuvla and Onedata.  To be

[2017-06-13 07:49] tkotisis commented on #48
@bkryza
Thanks for the info.
Is there a list somewhere of what POSIX standard functions Oneclient does or doesn't support?

@luman75
I understand that, given the fact Oneclient fs provides access to network resources, FIFOs don't make much sense.
Still, users may want to run scripts/applications relying on named pipes.
At a minimum we need to mark this as a known issue/limitation.

[2017-06-13 08:36] lopiola commented on #2
I'd like to make sure that we understood the idea of user id correctly.

You are talking about unique and user friendly user id. Why would user id be user friendly? The idea is that user id is unique, non-changing identifier which will always be mapped to the same Onedata user on our side. There is no need for it to be "user friendly", as users do not typically see their id. Can you comment on tha

[2017-06-13 09:05] tkotisis commented on #2
@loomis

In this case, would users with the same email authenticating from different IdPs be mapped to the same account?

Please note test case [TA01-008](https://github.com/SixSq/hn-prototype-platform/blob/master/test/Test%20Case%20Specification.md#ta01-008-edugain-aai---authentication-attempt-from-multiple-edugain-idps-with-credentials-sharing-a-common-email-address)

[2017-06-13 09:57] loomis commented on #2
@lopiola

The user ids will appear in the ACLs and need to be used by data/account manager to allow access to resources.  Users will also need to be able to know their identifier so that they can communicate this to the data/account managers.  These identifiers are visible in the Nuvla ACLs and can be manipulated directly. Because of this, the user identifier ideally would be both fairly short and

[2017-06-13 09:59] loomis commented on #2
@tkotisis

Yes, they would be mapped to the same account.  Where is the BG's documents did you get the requirements supporting TA01-008?  I've don't remember seeing that requirement.

[2017-06-13 10:08] luman75 commented on #2
@loomis @lopiola based on our past experience user are getting confused when while using two or more different IdPs their accounts are the same.  Simply I'm expecting to be a diffrent user while login tough G+ or eguGain despite the fact in both systems I'm using the same email.

[2017-06-13 11:58] tkotisis commented on #2
@loomis
It's in the use cases provided by the BG.

In particular use case 2.1 (Edugain AAI).

[2017-06-13 12:59] loomis opened #49 "provide address ranges"
Provide the address ranges used by:

 - [ ] exoscale
 - [ ] otc

See the full request from Martin below:

Hi RHEA,

 while discussing the network configuration with our local NREN (DFN), we were asked to specify the public subnets, or the public ip address, in case ipsec is used, on the provider (your) side - in your case for the exoscale and the T-Systems centre. The NREN will then check how to c

[2017-06-13 12:59] loomis commented on #49
@retrack Please provide the information for Exoscale.

[2017-06-13 13:00] loomis commented on #49
@eeckstei Please provide the information for OTC.

[2017-06-13 13:07] loomis commented on #2
@tkotisis Thanks.  I missed that requirement when reading through the use cases.  In this case, we'll have to use something other than the email address.  In any case, the value we choose will be put into the `sub` key of the token.  The other fields will be as specified above.

[2017-06-13 13:15] retrack commented on #49
@loomis BGP will take care of that

[2017-06-13 14:32] tkotisis commented on #45
One easy way to reproduce is to try creating new named pipe with this name:
[code]

It seems that there is no way to remove the file/pipe, after that point.
[code]

[2017-06-13 14:41] tkotisis opened #50 "chown not supported in Oneclient"
[code]

[2017-06-13 14:41] luman75 commented on #45
@tkotisis to which directory oneclient mounted virtual filesystem?

[2017-06-13 14:43] luman75 commented on #50
@tkotisis chown can be only exectued as root and it doesn't make sense in case of user-space filesystems.

[2017-06-13 15:10] tkotisis commented on #45
@luman75
/mnt/oneclient

So, in case of the tests space _onedata_test_scenario_ is available at _/mnt/oneclient/onedata_test_scenario_

[2017-06-13 15:12] luman75 commented on #45
@tkotisis but in your case you are testing mkfifo in non-manage by onedata directory
`/root/pjdfstest/pjdfstest`
?

[2017-06-13 15:24] tkotisis commented on #50
@luman75

What is the origin of the uid/gid used for all files in the mounted fs?
Also, how can a user other than root access it?

[2017-06-13 15:31] luman75 commented on #50
@tkotisis there are a few things:
1. UID/GID are set by provider for each user requesting to specific space depending on configuration either from local pool of UIDs or if configured in local environment from LUMA. LUMA is an external API which datacenter can implement to deliver mapping of global user account  (from IdP) to local UIDs if they want user be properly mapped.

2. Because the access t

[2017-06-13 15:31] tkotisis commented on #45
@luman75

`/root/pjdfstest/pjdfstest` is the application used (see #48) to call the function.
The function is called with file _foo_ in the current directory (which is in the mounted fs) as an argument.

To clarify, please find the full examples below (shortened for brevity in previous comment).

[code]

[code]

[2017-06-13 15:51] 0xbase12 commented on #20
@cjdcordeiro Please check in this ticket https://github.com/SixSq/tasklist/issues/976

[2017-06-14 08:21] cjdcordeiro opened #51 "create Nuvla accounts for BG"
CERN
joao.fernandes@cern.ch
emmanouil.angelogiannopoulos@cern.ch

CNRS
emmanouil.vamvakopoulos@cc.in2p3.fr

DESY
sergey.yakubov@desy.de
martin.gasthuber@desy.de

EMBL
dario@ebi.ac.uk

ESRF
wilcke@esrf.fr
andy.gotz@esrf.fr

IFAE
jcasals@pic.es

INFN
chierici@cnaf.infn.it
daniele.cesini@cnaf.infn.it

KIT
Preslav.Konstantinov@kit.edu

SURFSara
martin.brandt@surfsara.nl

[2017-06-14 08:28] cjdcordeiro commented on #51
depends on #2

[2017-06-14 10:55] cjdcordeiro opened #52 "investigate the creation of a kubeless SS app"
https://github.com/kubeless/kubeless

[2017-06-14 11:32] elegoff commented on #38
Tested successfully from OTC console :
-Created a Dedicated Host
-ECS with Image : Enterprise_Windows_STD_2016_20170510-0
-License Type: Bring your own license (BYOL)

[2017-06-14 11:34] cjdcordeiro commented on #38
@elegoff how have you enabled DeHs in OTC?

[2017-06-14 11:41] elegoff commented on #38
It was actually enabled by default, I just used the dedicated icon from console to add a new DeH and then referred to it when creating a new ECS

![image](https://user-images.githubusercontent.com/501662/27130532-edfbc8c6-5106-11e7-9c72-5d220e8de84a.png)

[2017-06-14 12:09] elegoff commented on #38
FWIW copying here an offline response from @retrack regarding a question about  anti affinity group API logic for ExoScale (which we should refer to as an example when launching instances  on a Dedicated hypervisors)  :
=>
The calls are available here: https://cloudstack.apache.org/api/apidocs-4.4/root_admin/listAffinityGroups.html

You can use cs to browse around: https://github.com/exoscale/cs

[2017-06-14 13:33] elegoff commented on #38
Input from ExoScale support :

"Dedicated come at a cost which is not included in the project. Is it for testing purposes only? If yes, then just create a Anti Affinity group and logically consider it as a dedicated group. They work the same on the API logic side."

[2017-06-14 13:44] elegoff commented on #38
In summary :
OTC provides Dedicated Hosts and BYOL support for Windows server OS out of the box. This has been tested (except for using an actual license which should be supplied by the BG).

Similar support is available at ExoScale but requires some extra cost. This has not been fully tested but information we have gathered sound positive enough so that we can close this ticket

[2017-06-15 07:42] tkotisis commented on #39
According to the document on AAI by the BG:

How does this fit with our "service account" solution outlined above?

What would the token be in this case?

[2017-06-15 09:22] tkotisis commented on #38
While the above addresses support by the native clouds for BYOL Windows nodes/instances, it's still not clear to me how provisioning these nodes would work via Nuvla.

@cjdcordeiro would there be a native image for dedicated hosts?

[2017-06-15 09:45] cjdcordeiro commented on #38
@tkotisis we've decided to not involve Nuvla in this ticket for the following reasons:
 - it is our understanding that the interest for BYOL and even Windows support has been diminished to very low interest or even no interest at all. We need to clarify this with the BG
 - to proceed with a proper BYOL compliant automated deployment we would need a license to test with, which we don't have. Either

[2017-06-15 10:34] tkotisis commented on #38
@cjdcordeiro
Please note that test case [TA02-004: BYOL support](https://github.com/SixSq/hn-prototype-platform/blob/master/test/Test%20Case%20Specification.md#ta02-004-byol-support) covers requirement HN-TE-0002.

In particular the part:

To clarify, our point to the BG is which of the following:
a) we are not covering the requirement OR
b) requirement is covered via native clouds that support it

[2017-06-15 10:51] cgizzi commented on #38
@cjdcordeiro @tkotisis 1. we'll get confirmation from the BG of their "low" level of interest in having BYOL and Windows support directly in Nuvla. 2. If we receive positive confirmation, we'll have the requirement justified by the fact that it is still possible having dedicated VMs for this on OTC and Exoscale

[2017-06-15 11:23] retrack commented on #38
@tkotisis I would answer the following:

b) requirement is covered via native clouds that support it

The reasoning is that Windows is supported by default and that for both providers there is a solution for BYOL which is offered. The constraint is imposed by Microsoft on the licensing and since this is something external and universal, I would consider the box ticked.

[2017-06-15 11:29] cjdcordeiro commented on #38
@tkotisis
+1 on the above comments, plus, the short answer to your questions is: technical integration of BYOL support in Nuvla depends on BG interest, if any, having this interest driving the task priority.

[2017-06-15 14:40] tkotisis commented on #37
[GEANT Looking Glass](https://tools.geant.net/portal/links/lg/index.jsp) should prove useful for testing this.

[2017-06-16 06:54] konstan opened #53 "unable to provision VMs on OTC"
Opening the issue here as there is still no reaction from OTC support (ID: REQ000000180303) nor from OTC people involved in the project whom the below message was sent yesterday.

===
Hello,

This is to let you know that, since 9th June, we are having problems provisioning VMs on OTC via API (POST /v2/b7e63050ed284594817e867e049ba42c/servers HTTP/1.1) with "The requested availability zone is not a

[2017-06-16 06:58] konstan commented on #53
Requested to give the priority to the issue in ID: REQ000000180303

===
Dear OTC Support,

This issue is urgent for us.  Please give it a priority.

Thank you.
Regards.

[2017-06-16 14:36] cgizzi commented on #11
The strategy reported by MEB/Lionel has been agreed by BG and OTC. So this specific issue is closed.

[2017-06-16 14:36] #11 closed

[2017-06-16 14:38] cgizzi commented on #10
Usage monitoring done manually for the first period.

[2017-06-16 14:56] cgizzi commented on #36
@mebster has provided an analysis that we can use as justification of the rquirement. We have explained our apporach to the BG (waiting for feedbacks). The issue can be closed.

[2017-06-16 14:56] #36 closed

[2017-06-19 05:53] #24 closed

[2017-06-19 09:16] eeckstei commented on #49
@loomis: Matthias Pink informed Martin already - see Mail:

Von: Pink, Matthias
Gesendet: Dienstag, 13. Juni 2017 15:34
An: HNSciCloud-Monitoring@cern.ch
Cc: HNSciCloud-Contractors-T-Systems@cern.ch
Betreff: AW: network configuration - next steps

Dear Martin Gasthuber,

the public ip addresses are:

160.44.192.0/20
80.158.0.0/21

Kind regards,
Matthias Pink

T-SYSTEMS INTERNATIONAL GMBH
Digital D